# BuildKit will no longer pull 910 MB of download archives into Docker during the context analysis phase. The base-win64 base layer will no longer be invalidated, and the two-minute download of the image will be completely stopped.

.git/
artifacts/
ffbuild/
*.7z
*.log
*.zst
*.confhash
*.confopts

# РАЗРЕШАЕМ BuildKit видеть исходный код FFmpeg и его маркер коммита
!local_ext_cache/ffmpeg/
#!local_ext_cache/ffmpeg/.current_commit
!local_ext_cache/downloads/
!local_ext_cache/ccache/
