# Eliminate the heavy compiler and ffmpeg cache
#.cache/ccache
#.cache/ffmpeg
#.git
#artifacts

# We allow copying ONLY download archives
#!.cache/downloads
#!.cache/ffmpeg
#!host_tensorflow_models

# BuildKit will no longer pull 910 MB of download archives into Docker during the context analysis phase. 
# The base-win64 base layer will no longer be invalidated, and the two-minute download of the image will be completely stopped.

.cache/
.git/
artifacts/
ffbuild/
